In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("data_asia.csv")
df

       Unnamed: 0 asia  tub smoke lung bronc either xray dysp
0               0   no   no    no   no   yes     no   no   no
1               1   no   no    no  yes    no    yes  yes   no
2               2   no   no    no   no    no     no   no   no
3               3   no   no   yes   no   yes     no   no  yes
4               4   no   no   yes   no    no     no   no   no
...           ...  ...  ...   ...  ...   ...    ...  ...  ...
99995       99995   no  yes    no   no    no    yes  yes   no
99996       99996   no  yes    no   no   yes    yes  yes  yes
99997       99997   no   no    no   no    no     no   no   no
99998       99998   no   no    no   no    no     no  yes   no
99999       99999   no   no    no   no    no     no  yes   no

[100000 rows x 9 columns]